.TrackAudioInfo {
        display: flex;
        flex-direction: column;
        width: calc(42vw);
        height: 90%;
        justify-content: center;
        align-items: center;
}

.track-uri {
        margin-top: 5vh;
        font-size: calc(1px + 2vmin);
        color:var(--swatch);
}

/* feature */

.feature_list {
        margin-bottom: 5vh;
}

td {
        font-size: calc(2px + 2vmin);
        padding-left: 5px;
        padding-right: 5px;
}

.feature_key {
        text-align: right;
}

.feature_value {
        text-align: left;
}

#very_high {
        color: var(--swatch);
        font-weight: 800;
}

#high {
        color: var(--dark_swatch);
        font-weight: 600;
}

#low {
        color:#a0a1b4;
        font-weight: 450;
}

#not {
        color: #3f4156;
}

/* structure */

.structure-display {
        display: flex;
        flex-direction: row;
}

.structure-vertical {
        height: fit-content;
}

.structure_list {
        margin-left: 4vw;
}

#audio-structure {
        color: #67697e;
}

mark.bpm-td {
        vertical-align: 5%;
        font-size: calc(2px + 2vmin);
        background-color: #21222e;
        color: #67697e;
        margin-left: 5px;
}

.tempo-value {
        font-weight: 500;
        font-size: calc(30px + 4vmin);
        background-color: #21222e;
        color: #67697e;
        padding-right: 0px;
        animation-name: tempoPulse;  
        animation-iteration-count: infinite;  
        animation-duration: var(--tempo); 
}

@keyframes tempoPulse {  
        0% { color: var(--dark_swatch); }
        49% { color: var(--dark_swatch); }
        50% { color: var(--swatch); }
        100% { color: var(--swatch); }
      }