.playlist-display {
        display: flex;
        width: 42vw;
        height: 100%;
}

.playlist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
}

.playlist_list {
        height: 65%;
        width: 60%;
        text-align: left;
        overflow-y: auto;
        overflow-x: hidden;
}

td {
        font-size: calc(2vmin + 2px);
}