/* COLOURS */
:root {
  --crimson: #d7263dff;
  --oxford-blue: #02182bff;
  --dodger-blue: #0197f6ff;
  --blue-munsell: #448fa3ff;
  --middle-blue: #68c5dbff;

  --dark-jungle-green: #182825ff;
  --spanish-blue: #016fb9ff;
  --pacific-blue: #22aed1ff;
  --light-slate-gray: #6d8ea0ff;
  --khaki-web: #afa98dff;

  --eerie-black: #1c1c1cff;
  --gainsboro: #daddd8ff;
  --alabaster: #ecebe4ff;
  --cultured: #eef0f2ff;
  --ghost-white: #fafaffff;

  --eerie-black: #1c1c1cff;
  --gainsboro: #daddd8ff;
  --slate-gray: #63768dff;
  --cultured: #eef0f2ff;
  --glaucous: #6b7fd7ff;

  --eerie-black: #1c1c1cff;
  --columbia-blue: #c7e8f3ff;
  --slate-gray: #63768dff;
  --cedar-chest: #cd533bff;
  --golden-brown: #a27035ff;

  --eerie-black: #1c1c1cff;
  --columbia-blue: #c7e8f3ff;
  --slate-gray: #63768dff;
  --vegas-gold: #d6ba73ff;
  --golden-brown: #a27035ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #21222e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #3f4156;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  border: 0px;
}